{% load static %}
<body>
<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper"> 
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12 dashhead">
                <body>
                    <div class="testbox">
                        <form action="/">
                            <div class="banner">
                                {% if user.is_staff %}
                                    {% for empresa in empresas %}
                                        {% if user.id == empresa.usuario_empresa_id %}
                                            <h1>Bem vindo, {{empresa}}! Abaixo as vagas criadas.</h1>
                                        {% else %}
                                            <h1>Bem vindo, para começar, atualize suas informações na aba perfil.</h1>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for candidato in candidatos %}
                                        {% if user.id == candidato.usuario_candidato_id %}
                                            <h1>Bem vindo, {{user.first_name}} {{user.last_name}}! Abaixo as vagas que você se candidatou!</h1>
                                        {% else %}
                                            <h1>Bem vindo, para começar, atualize suas informações na aba perfil e experiencia.</h1>
                                        {% endif %}
                                    {% endfor %}      
                                {% endif %}
                            </div>
                        </form>         
                    </div>
                </body>
            </div>
        </div>
    </div>
</div>
</body>