{% load static %}

<div class="container" >
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>
    {% include 'partials/alertas.html' %}
    <div class="content">
        <div class="items">
            <ul class="nav navbar-right top-nav">
                <li class="editpro">
                    <a href="{% url 'logout' %}">Sair</a>
                </li>
            </ul>
        </div>
        
        <div class="collapse navbar-collapse navbar-ex1-collapse"
            style="background-color: #616060; border:1px solid #616060;">
            <ul class="nav navbar-nav side-nav">
                <li>
                    {% if user.is_staff %}
                    <a class=" active" href="{% url 'dashboard_empresa' %}" data-toggle="collapse" data-target="#submenu-1">
                        <i class="fa fa-home" aria-hidden="true"></i>   <span style="color:white;"> Principal </span>
                    </a>
                    {% else %}
                    <a class=" active" href="{% url 'dashboard_candidato' %}" data-toggle="collapse" data-target="#submenu-1">
                        <i class="fa fa-home" aria-hidden="true"></i>   <span style="color:white;"> Principal </span>
                    </a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_staff %}
                    <a class="#" href="{% url 'perfil_empresa' %}" data-toggle="collapse" data-target="#submenu-1">
                        <i class="fa fa-user-o" aria-hidden="true"></i>   <span style="color:white;"> Perfil </span>
                    </a>
                    {% else %}
                    <a class="#" href="{% url 'perfil_candidato' %}" data-toggle="collapse" data-target="#submenu-1">
                        <i class="fa fa-user-o" aria-hidden="true"></i>   <span style="color:white;"> Perfil </span>
                    </a>
                    <a class="#" href="{% url 'experiencia' %}" data-toggle="collapse" data-target="#submenu-1">
                        <i class="fa fa-user-o" aria-hidden="true"></i>   <span style="color:white;"> Experiencia </span>
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a class="#" href="{% url 'vagas_disponiveis' %}" data-toggle="collapse" data-target="#submenu-1">
                        <i class="fa fa-calendar" aria-hidden="true"></i>   <span style="color:white;"> Vagas </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>