{% extends 'base_vagas.html' %}
{% load static %}
{% block content %}

<body>
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>

    <div id="wrapper">
        {% include 'usuarios/navegacao.html' %}
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-12 dashhead">
                    <h1> Bem vindo, {{user.first_name}} {{user.last_name}}!</h1>
                    <h1> As vagas que você se candidatou, são: </h1>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}