{% extends 'login_cadastro.html' %}
{% load static %}
{% block content %}
<!--FORMULÁRIO DE CADASTRO-->
<div id="cadastro">
    <form method="post" action="{% url 'cadastro' %}"> 
        {% csrf_token %}
        <h1>Cadastro</h1> 
        <p> 
            <label for="nome_cad">Nome</label>
            <input id="nome_cad" name="nome" required="required" type="text" placeholder="Nicolas" />
        </p>

        <p> 
            <label for="nome_cad">Sobrenome</label>
            <input id="nome_cad" name="sobrenome" required="required" type="text" placeholder="Robert Vilela" />
        </p>

        <p> 
            <label for="email_cad">Seu e-mail</label>
            <input id="email_cad" name="email" required="required" type="email" placeholder="nicolasvilela@outlook.com.br"/> 
        </p>

        <p> 
            <label for="senha_cad">Sua senha</label>
            <input id="senha_cad" name="senha" required="required" type="password" placeholder="1234"/>
        </p>

        <p> 
            <label for="senha_cad">Repita sua senha</label>
            <input id="senha_cad" name="senha2" required="required" type="password" placeholder="1234"/>
        </p>

        <p>
            <label for="tipo_usuario">Selecione um tipo de usuário:</label>
            <select name="usuario" id="tipo_usuario">
                <option value="False">Candidato</option>
                <option value="True">Empresa</option>
            </select>
        </p>

        <p> 
            <input type="submit" value="Cadastrar"/> 
        </p>

        <p class="link">  
        Já tem conta?
        <a href="{% url 'login' %}"> Ir para Login </a>
        </p>
    </form>
</div>
{% endblock %}  