{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper d-flex align-items-stretch">

    {% include 'partials/sidebars/candidato.html' %}

    <div id="content" class="p-4 p-md-5 pt-5">
        {% include 'partials/alertas.html' %}
        
        {% if vagas %}
            {% for vaga in vagas %}
                <p>
                    <div class="container" style="border: 2px solid rgb(29, 9, 211);">
                        <h4 class="mb-1">{{vaga}}</h4>
                        {% for chave, valor in faixas.items %}
                            {% if chave == vaga.faixa_salarial %}
                                <h6 class="mb-1">Faixa Salarial: {{valor}}</h6>
                            {% endif %}
                        {% endfor %}
                        {% for chave, valor in escolaridades.items %}
                            {% if chave == vaga.escolaridade %}
                                <h6 class="mb-2">Escolaridade Minima: {{valor}}</h6>
                            {% endif %}
                        {% endfor %}
                        {% for candidato in candidatos %}
                            <a href="{% url 'candidatura' vaga.id candidato.id %}" type="button" class="btn btn-outline-dark mb-2">Candidatar-se</a>
                        {% endfor %}
                    </div>
                </p>
            {% endfor %}
        {% else %}
            <h4 class="mb-1">Oops! Ainda não existe nenhuma vaga no sistema!</h4>
        {% endif %}
    </div>
</div>

{% endblock %}