{% extends 'dashboard.html' %}
{% load static %}
{% block content %}

<div class="wrapper d-flex align-items-stretch">

    {% include 'partials/sidebar_candidato.html' %}

    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container" style="border: 2px solid rgb(29, 9, 211);">
            {% if vagas %}
                {% for vaga in vagas %}
                    <h4 class="mb-1">{{vaga}}</h2>
                    {% for chave, valor in faixas.items %}
                        {% if chave == vaga.faixa_salarial %}
                            <h6 class="mb-1">Faixa Salarial: {{valor}}</h6>
                        {% endif %}
                    {% endfor %}
                    {% for chave, valor in escolaridades.items %}
                        {% if chave == vaga.escolaridade %}
                            <h6 class="mb-2">Escolaridade Minima: {{valor}}</h6>
                        {% endif %}
                    {% endfor %}
                    {% for candidato in candidatos %}
                        <a href="{% url 'candidatura' vaga.id candidato.id %}" type="button" class="btn btn-outline-dark mb-2">Candidatar-se</a>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}