{% load static %}
{% if experiencias %}
    <form method="post" action="{% url 'atualiza_experiencia' %}">
{% else %}
    <form method="post" action="{% url 'experiencia' %}">
{% endif %}
    {% csrf_token %}
    <div class="banner">
        <h1>Ultima Experiencia</h1> 
    </div>
    <h2>Atualize sua ultima experiencia</h2>
    <h5>Se não houver experiencia anterior, deixar em branco.</h5>
    <div class="textarea">
        <p>Empresa</p>
        {% if experiencias %}
            {% for experiencia in experiencias %}
            <input type="textarea" name="empresa_anterior" required="required" placeholder="{{experiencia.empresa_anterior}}" />
            {% endfor %}
        {% else %}
            <input type="textarea" name="empresa_anterior" required="required" placeholder="Insira o nome da empresa aqui." />
        {% endif %}
    </div>
    <div class="item">
        <p>Emprego Atual?</p>
        <select name="emprego_atual" id="emp">
            <option value="True">Sim</option>
            <option value="False">Não</option>
        </select>
    </div>
    <div class="date">
        <p>Data Inicio</p>
        <input type="date" name="data_inicio" />
    </div>
    <div class="date">
        <p>Data Fim</p>
        <input type="date" name="data_fim" />
    </div>
    <div class="textarea">
        <p>Descrição das Atividades</p>
        {% if experiencias %}
            {% for experiencia in experiencias %}
                <input type="textarea" name="descricao" required="required" placeholder="{{experiencia.descricao}}" />
            {% endfor %}
        {% else %}
            <input type="textarea" name="descricao" required="required" placeholder="Insira suas atividades principais aqui.">
        {% endif %}
    </div>
    <div class="btn-block">
        <button type="submit" href="/">Confirmar</button>
    </div>
    </div>
</form>
