{% if empresas %}
<form method="post" action="{% url 'atualiza_empresa' %}">
{% else %}
<form method="post" action="{% url 'perfil_empresa' %}">
{% endif %}
    {% csrf_token %}
    <div class="banner">
        <h1>Seu perfil</h1>
    </div>
        <h2>Atualize seu perfil</h2>
            <div class="item">
                <p>Nome da empresa</p>
                {% if empresas %}
                    {% for empresa in empresas %}
                        {% if user.id == empresa.usuario_empresa_id %}
                            <input type="text" name="nome_empresa" required="required" placeholder="{{empresa}}" />
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <input type="text" name="nome_empresa" required="required" placeholder="Insira o nome da empresa aqui." />
                {% endif %}
            <div class="btn-block">                                   
                <button type="submit" href="/">Confirmar</button>
            </div>
        </div>
    </div>
</form>         