<form method="post" action="{% url 'perfil_empresa' %}">
    <div class="banner">
        <h1>Seu perfil</h1>
    </div>
        <h2>Atualize seu perfil</h2>
            <div class="item">
                <p>Nome da empresa</p>
                <div class="item">
                    <input type="text" name="nome_empresa" placeholder="Insira o nome da empresa aqui." />
                </div>
            <div class="btn-block">                                   
                <button type="submit" href="/">Confirmar</button>
            </div>
        </div>
    </div>
</form>         